/**
 * @name Clear Glass
 * @author VLTNO#2935
 * @version 2.0.0
 * @description Frosted Glass and Clear Vision in one package!
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @BDEditor Frosted Glass
*/

@import url('https://raw.githubusercontent.com/VLTN0/Clear-Glass/main/main.css');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/kYW2H5C.jpg');
  --background-image-blur: 3px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: var(--background-image);
  --popout-image-blur: 5px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6ac3c481f273141736_icon_clyde_black_RGB.png');
  --home-button-size: 80%;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.75;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 63,81,181;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 14px;
  --window-roundness: 10px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


